/* ================== CONTAINER ================== */
.container {
  width: var(--container-medium);
  padding-block: var(--container-padding);
  margin-inline: auto;
}
.container--sm {
  width: min(calc(100% - var(--space-6)), var(--container-small));
}
.container--lg {
  width: min(calc(100% - var(--space-6)), var(--container-large));
}
.container--xl {
  width: min(calc(100% - var(--space-6)), var(--container-extra-large));
}
